@using SpaceWars.Logic

<style>
    .fade-out {
        animation: fadeOut 4s linear forwards;
        opacity: 1;
    }

    @@keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
</style>

<div style="@($"position:absolute; right: {X}px; top: {Y}px; transform: translate(52%, -61%);")">
    <div class="text-truncate small text-white" style="width: 150%">@Player.Name</div>
    @if (Player.IsAlive)
    {
        <div class="progress bg-success rounded-0" style="height: 3px; transform: translate(0px, -4px);">
            <div class="progress-bar bg-dark" role="progressbar" style="width: @(100-Player.Ship.Health)%"
            aria-valuenow="@(100-Player.Ship.Health)" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    }
    <div class="position-relative">
        @if(Player.IsAlive)
        {
            <img src="@GetShipSvg()" alt="" height="80" width="80" style="rotate: @(Heading)deg;">
            <svg width="150" height="150" style="position: absolute; top: -35px; left: -36px; opacity: @(Player.Ship.Shield / 2)%;">
            <circle cx="75" cy="75" r="40" fill="blue" /> <!-- Adjust attributes as needed -->
            </svg>
            @if (Targeted != null)
            {
                <img src="crosshair.svg" height="90px" width="90px" style="position: absolute; top:-5px; left:-5px;" />
            }
        }
        else
        {
            <img src="explosion.png" class="fade-out" height="90px" width="90px" style="position: absolute; top:-46px; left:-26px;" />
        }
    </div>
</div>

@code {
    private Random _random = new Random();
    [Parameter, EditorRequired] public int Heading { get; set; }
    [Parameter, EditorRequired] public int X { get; set; }
    [Parameter, EditorRequired] public int Y { get; set; }
    [Parameter, EditorRequired] public Player Player { get; set; }
    [Parameter, EditorRequired] public GameMap Map { get; set; }
    [Parameter] public TargetedLocation? Targeted { get; set; } = null;

    private string GetShipSvg()
    {
        int totalNumberOfShips = 18;
        int shipNumber = (Math.Abs(Player.Name.GetHashCode()) % totalNumberOfShips) + 1;
        return $"Ships/svg/{shipNumber}.svg";
   }

}
