@using SpaceWars.Logic

@if (Ship == null)
{
    <p>Ship not found</p>
    return;
}
else
{
    <div class="row p-2 w-100" style="color: #39FF14; border: 3px solid #39FF14;">
        <h4>Ship Status</h4>
        <div class="mb-2">
            <h6>Shield: @Ship.Shield%</h6>
            <ProgressBar Value="@Ship.Shield" />
        </div>
        <div class="mb-2">
            <h6>Health: @Ship.Health%</h6>
            <ProgressBar Value="@Ship.Health" Color="bg-primary" />
        </div>
        <p> Ship Location: (@Ship.Location.X, @Ship.Location.Y)</p>
        <div class="row">
            <div class="col-6">
                <h6>Speed: Warp @Ship.Speed</h6>
                <h6>Heading: @Ship.Heading&deg;</h6>
            </div>
            <div class="col-6">
                <Compass Heading="@Ship.Heading" />
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public Ship Ship { get; set; }

}
