@using SpaceWars.Logic

@if (Ship == null)
{
    <p>Ship not found</p>
    return;
}
else
{
        <div class="row border border-3 rounded p-2 w-100">
                <div class="mb-2">
                    <h6>Shield</h6>
                    <ProgressBar Value="@Ship.Shield" />
                </div>
                <div class="mb-2">
                    <h6>Health</h6>
                    <ProgressBar Value="@Ship.Health" Color="bg-primary" />
                </div>
                <p> Ship Location: (@Ship.Location.X, @Ship.Location.Y)</p>
                <div class="row">
                    <div class="col-6">
                        <label for="speed">Speed</label>
                        <h6>@Ship.Speed</h6>
                        <label for="heading">Heading</label>
                        <h6>@Ship.Heading&deg;</h6>
                    </div>
                    <div class="col-6">
                        <Compass Heading="@Ship.Heading" />
                    </div>
                </div>
        </div>
}

@code {
    [Parameter] public Ship Ship { get; set; }

}
